.site-banner {
    width: 100%;
    display: flex;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(51,51,51,1) 9%, rgba(87,85,92,1) 42%, rgba(165,158,181,1) 100%);
}

.site-banner-inner {
    display: flex;
    animation: scroll 30s linear infinite;
    gap: 1rem;
}

.banner-img {
    flex-grow: 1;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.banner-img img {
    border-radius: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}