@media (min-width:601px) {
    .nav-header div:nth-child(3) {
        display: none;
    }
}

@media (min-width: 1400px) {
    body .nav-header {
        padding: 2.5rem 3.2rem;
    }
}

.nav-header {
    color: #e2e2e2;
    flex-direction: column;
    display: flex;
    padding: 1.3rem 3.2rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(8, 9, 35);
    background: linear-gradient(95deg, rgba(8, 9, 35, 1) 0%, rgba(2, 2, 10, 1) 0%, rgba(8, 9, 35, 1) 21%, rgba(8, 9, 35, 1) 30%, rgba(8, 9, 35, 1) 83%, rgba(2, 2, 9, 1) 100%);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.nav-header.scrolled {
    background-color: #ffffff;
    box-shadow: 0 4px 6px -6px black;
}

.menuItem {
    display: none;
    margin: 2rem 4rem;
    flex: 1;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger.active {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
}

.hamburger {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border: black solid 0px;
    background: 0;
    cursor: pointer;
}

.hamburger span {
    font-size: 12px;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu .menuItem {
    display: block;
}

.showMenu {
    transform: translateY(0);
    padding: 2rem;
}

.showMenu li .menuItem {
    font-size: 12px;
    text-align: left;
    padding-bottom: 0.5rem;
    width: 30ch;
}

.showMenu li .menuItem i {
    padding-right: 0.5rem;
}

.logo {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.nav-header nav ul {
    list-style-type: none;
}

.nav-header nav ul li {
    margin-right: 20px;
}

.nav-header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-header nav:nth-child(4) ul li {
    display: inline;
}

.nav-header nav:nth-child(1) ul li {
    display: inline;
}

.nav-header nav:nth-child(1) ul li:last-child {
    display: inline;
}

.nav-header nav:nth-child(4) {
    position: absolute;
    right: 1rem;
    /* Adjust the positioning as needed */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.nav-header nav:nth-child(4) nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header nav:nth-child(4) nav ul li {
    flex: 1 1 30%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #191717;
}

.auto-show {
    margin-top: 0.5rem;
}

.logo {
    position: absolute;
    left: 3rem;
    /* Adjust the positioning as needed */
    top: 50%;
    transform: translateY(-50%);
}

.nav-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: rgb(4, 4, 11);
    background: linear-gradient(95deg, rgba(4, 4, 11, 1) 0%, rgba(11, 11, 49, 1) 0%, rgba(21, 25, 74, 1) 76%, rgba(7, 9, 48, 1) 100%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}