.cars-container {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(0, 1, 16);
    background: linear-gradient(95deg, rgba(8, 9, 35, 1) 100%);
}

.cars-container h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

body .cars-container:nth-of-type(2) {
    padding-bottom: 2rem;
}

body .cars-container:nth-child(4) {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#last {
    padding-bottom: 2rem;
}

.car-card {
    background: linear-gradient(95deg, rgba(24,26,63,1) 83%, rgba(8,9,35,1) 100%);
    width: 29%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.img-container {
    text-align: center;
    width: 100%;
    height: auto;
}

.img-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

.car-info {
    padding: 20px;
}

.car-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.car-info p {
    margin: 5px 0;
}

.slick-slider .slick-prev {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-slider .slick-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-slider .slick-prev {
    left: 1px;
}

.slick-slider .slick-next {
    right: 1px;
}