#model-container {
    width: 85vw;
    height: 35vw;
    margin: 1.5rem auto;
}

#model-container canvas {
    overflow: hidden;
    border-radius: 20px;
}

.hidden {
    display: none !important;
}

.view-buttons {
    margin: 0 auto;
    display: flex;
    gap: 0.3rem;
}

@media (max-width: 601px) {
    .view-buttons {
        flex-direction: column;
    }
}

body {
    background: linear-gradient(90deg, rgba(51,51,51,1) 9%, rgba(87,85,92,1) 42%, rgba(165,158,181,1) 100%);
}

@media (max-width: 567px) {
    body #model-container {
        height: 55vh;
    }
}

#firstPersonBtn,#thirdPersonBtn {
    display: inline-block;
    background-color: #a59eb5;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    transition: background-color 0.3s;
    border: 2px solid black;
}

#firstPersonBtn:hover,#thirdPersonBtn:hover {
    background-color: #8c8292;
}