<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../css/pages-style.css">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <style>
        .alert {
            display: none;
            color: red;
        }
    </style>
</head>

<body>
<header class="nav-header" id="header">
    <a href="../pages/index.html" class="logo">
        <img class="logo-img" src="../images/logo.png" alt="Logo">
    </a>
    <div class="h1">
        <h1>Where Luxury Meets Performance</h1>
    </div>
    <div class="container">
        <button class="hamburger" id="hamburgerButton">
            <i class="fas fa-bars"></i>
            <span class="menuText">Menu</span>
        </button>
        <ul class="menu" id="menu">
            <li><a class="menuItem" href="../pages/index.html" onclick="setHamburgerRelative(event)"><i
                    class="fas fa-home"></i>
                Home</a></li>
            <li style="display: none;" id="profile"><a class="menuItem"
                                                       href="/profile"
                                                       onclick="setHamburgerRelative(event)"><i class="fas fa-user"></i>Profile</a>
            </li>
            <li><a class="menuItem" href="../pages/auto-show.html" onclick="setHamburgerRelative(event)"><i
                    class="fas fa-car"></i>
                Auto
                Show</a></li>
            <li id="log-in-text"><a class="menuItem" href="/login"
                                    onclick="setHamburgerRelative(event)"><i class="fas fa-sign-in-alt"></i>Log in</a>
            </li>
            <li style="display: none;" id="log-out-text"><a class="menuItem" href="#"
                                                            onclick="setHamburgerRelative(event)"><i
                    class="fas fa-sign-in-alt"></i>Log out</a></li>
            <li><a class="menuItem" href="#" onclick="setHamburgerRelative(event)"><i
                    class="fas fa-info-circle"></i> About</a></li>
        </ul>
    </div>
    <nav class="navs">
        <nav>
            <ul>
                <li><a href="../pages/index.html"><i class="fas fa-home"></i></a></li>
                <li style="display: none;" id="profile"><a
                        href="/profile"><i
                        class="fas fa-user"></i></a></li>
                <li><a href="../pages/auto-show.html"><i class="fas fa-car"></i></a></li>
                <li id="log-in-icon"><a href="/login"><i
                        class="fas fa-sign-in-alt"></i></a></li>
                <li style="display: none;" id="log-out-icon"><a href="#"><i class="fas fa-sign-out-alt"></i></a>
                </li>
                <li><a href="#"><i class="fas fa-info-circle"></i></a></li>
            </ul>
        </nav>
        <nav>
            <ul id="nav-text">
                <li><a href="../pages/index.html">Home</a></li>
                <li style="display: none;" id="profile"><a
                        href="/profile">Profile</a></li>
                <li class="auto-show"><a href="../pages/auto-show.html">Auto Show</a></li>
                <li id="log-in-text"><a href="/login">Log in</a>
                </li>
                <li style="display: none;" id="log-out-text"><a href="#">Log out</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </nav>
</header>
<script src="../js%20scripts/mobile-menu.js"></script>
<div class="register-container">
    <h2>Registration</h2>
    <div th:if="${param.error}" class="alert alert-danger">
        Unable to register. This username is already taken.
    </div>
    <div th:if="${param.errorPassword}" class="alert alert-danger">
        Unable to register. Please use password with at least 8 characters.
    </div>
    <div th:if="${param.errorEmail}" class="alert alert-danger">
        Unable to register. Please use a valid email.
    </div>
    <div th:if="${param.errorEmailExists}" class="alert alert-danger">
        Unable to register. Account with this email already exists.
    </div>
    <form action="/register" method="post" th:object="${user}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:field="*{email}" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>

        <button type="submit">Register</button>
    </form>
</div>
<footer class="footer-section">
    <h3>NEWSLETTER</h3>
    <p>Subscribe to our Newsletter!</p>
    <div class="subscribe-form">
        <input type="email" placeholder="Your Email Address">
        <button>Subscribe</button>
    </div>
    <div class="socials-section">
        <a href="https://www.facebook.com/profile.php?id=100005977189177" target="_blank"><i
                class="fab fa-facebook"></i></a>
        <a href="https://github.com/DenisDanov" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/denisdanov69/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/denis-danov-510756246/" target="_blank"><i
                class="fab fa-linkedin"></i></a>
    </div>
    <div class="copyright-section">
        <p>&copy; 2023 Danov's Auto Show. All rights reserved.</p>
    </div>
</footer>
<script th:if="${param.error}">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.alert').style.display = 'block';
    });
</script>
<script th:if="${param.errorPassword}">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.alert').style.display = 'block';
    });
</script>
<script th:if="${param.errorEmail}">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.alert').style.display = 'block';
    });
</script>
<script th:if="${param.errorEmailExists}">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.alert').style.display = 'block';
    });
</script>
</body>

</html>