.cars-container {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:  linear-gradient(90deg, rgb(58 57 59) 16%, rgb(52 52 55) 26%, rgb(73 72 75) 52%, rgb(28 28 28) 90%);
}

#cars-container-h1 {
    top: 0;
    position: absolute;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

body .cars-container:nth-of-type(2) {
    padding-bottom: 2rem;
}

body .cars-container:nth-child(4) {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#last {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.car-card {
    color: white;
    background: linear-gradient(90deg, rgb(37 36 36) 11%, rgb(41 40 43) 75%);
    width: 29%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.img-container {
    text-align: center;
    width: 100%;
    height: auto;
}

.img-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

.car-info {
    padding: 20px;
}

.car-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.car-info p {
    margin: 5px 0;
}

.img-container .flickity-prev-next-button {
    width: 20px;
    height: 20px;
}

.img-container .flickity-prev-next-button.next {
    right: 5px;
}

.img-container .flickity-prev-next-button.previous {
    left: 5px;
}

.img-container .flickity-page-dots {
    bottom: 2px;
}

.img-container .flickity-page-dots .dot {
    background-color: white;
}