footer {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(92,90,97,1) 8%, rgba(129,125,140,1) 26%, rgba(128,124,139,1) 33%, rgba(165,158,181,1) 39%, rgba(111,108,120,1) 77%);
}

.footer-section {
    margin-top: auto;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

.footer-section h3 {
    font-size: 24px;
}

.footer-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.subscribe-form button {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #a59eb5;
    background-color: #a59eb5;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
}

.subscribe-form button:hover {
    filter: brightness(120%);
}

.footer-section .copyright-section {
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 14px;
}

.socials-section span {
    padding-top: 1em;
    padding-right: 0.5rem;
    font-size: 17px;
}

.socials-section i {
    padding-right: 0.5rem;
}

.socials-section {
    padding-top: 0.8rem;
}

#loading-animation-newsletter[status="Pending"] {
    margin: 1rem auto;
    width: 360px;
    color: #000;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(156, 156, 89);
    font-weight: 599;
    position: relative;
}

#loading-animation-newsletter[status="Pending"]:after {
    content: '.';
    display: inline-block;
    position: absolute;
    animation: pendingAnimation 1.5s infinite steps(3);
}

@keyframes pendingAnimation {

    0%,
    25% {
        opacity: 1;
        content: '.';
    }

    26%,
    50% {
        opacity: 1;
        content: '..';
    }

    51%,
    75% {
        opacity: 1;
        content: '...';
    }

    76%,
    100% {
        opacity: 0;
        content: '';
    }
}