header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    flex: 1;
    padding: 20px;
}

.show-room {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
}

.view-button {
    background-color: #3a703b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.view-button:hover {
    background-color: #67a368;
}

section .cars-container {
    background: none;
}

.car-card {
    text-align: center;
}

section h2 {
    text-align: center;
}

.favorites {
    margin-bottom: 1rem;
}

.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;

    .icon-heart {
        font-size: 24px;
        color: #666;
        position: relative;
        transition: all .5s ease-in-out;
    }

    .icon-plus-sign {
        font-size: 10px;
        color: #333;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        height: 11px;
        width: 11px;
        line-height: 11px;
        text-align: center;
        transition: all 1s ease-in-out;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        &:checked+.icon-heart {
            color: orange;

            .icon-plus-sign {
                display: none;
            }
        }
    }
}

#overlay,#overlay-changeUsername,#order-car-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Style for the pop-up box */
#popup,#popup-changeUsername,#popup-order-car {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style for the close button */
#close,#close-order-car {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

/* Style for the buttons */
#popup button,#popup-changeUsername button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #444242;
}

#popup button:hover,#popup-changeUsername button:hover {
    background-color: #535353;
}

#order-car-container {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    background-color: #539236;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

#popup-order-car {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 0.5rem;
    align-items: center;
}

#popup-order-car input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#popup-order-car button {
    width: max-content;
    background-color: #3b3e41;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#popup-order-car button:hover {
    background-color: #6d6d6d;
}

#error-car-manufacturer,#error-car-model,#error-car-year {
    color: white;
    background-color: red;
    border: 5px solid red;
    border-radius: 5px;
}

#car-manufacturer,#car-model,#car-year {
    width: max-content;
}

.fa-window-close {
    cursor: pointer;
    top: 0.5%;
    right: 1%;
    position: absolute;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
    overflow: hidden; /* Disable scrolling on the body when pop-up is displayed */
}

/* Styles for the pop-up content */
.popup-content {
    background-color: #4e4747;
    color: #d3d2d2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 13% auto;
}

.motd-text {
    font-size: 18px;
    line-height: 1.5;
    color: #161010;
}

/* Styles for the buttons */
.popup-container button {
    background-color: #696767;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.popup-container button:hover {
    background-color: rgb(152, 153, 152)
}

@media (max-width: 600px) {
    .popup-content {
        max-width: 90%;
        margin: 22% auto;
    }

    .motd-text {
        font-size: 13px !important;
    }
}