header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    flex: 1;
    padding: 20px;
}

.show-room {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
}

.view-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 15px;
}

section .cars-container {
    background: none;
}

.car-card {
    text-align: center;
}

section h2 {
    text-align: center;
}

.favorites {
    margin-bottom: 1rem;
}

.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;

    .icon-heart {
        font-size: 24px;
        color: #666;
        position: relative;
        transition: all .5s ease-in-out;
    }

    .icon-plus-sign {
        font-size: 10px;
        color: #333;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        height: 11px;
        width: 11px;
        line-height: 11px;
        text-align: center;
        transition: all 1s ease-in-out;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        &:checked+.icon-heart {
            color: orange;

            .icon-plus-sign {
                display: none;
            }
        }
    }
}

#overlay,#overlay-changeUsername {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Style for the pop-up box */
#popup,#popup-changeUsername {
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 9%, rgba(87, 85, 92, 1) 42%, rgba(165, 158, 181, 1) 100%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style for the close button */
#close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

/* Style for the buttons */
#popup button,#popup-changeUsername button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #444242;
}

#popup button:hover,#popup-changeUsername button:hover {
    background-color: #535353;
}
