@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url(nav-header.css);
@import url(banner.css);
@import url(info-section.css);
@import url(preview.css);
@import url(footer.css);
@import url(mobile.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
